:root {
  --hero-header-color: #ffffff;
  --section-header-color: #2e2f42;
  --paragraph-header-color: #2e2f42;
  --main-background-color: #ffffff;
  --hero-background-color: #2e2f42;
  --our-team-background-color: #f4f4fd;
  --footer-background-color: #2e2f42;
}

/*--------------Body-----------*/

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: #434455;
  background-color: var(--main-background-color);
}

.link {
  text-decoration: none;
  font-style: normal;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*-------------Header------------*/

.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.header-logo-begin {
  color: #4d5ae5;
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-link:is(:hover, :focus) {
  color: #404bbf;
}

.header-adress {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-adress:is(:hover, :focus) {
  color: #404bbf;
}

/*-----------------Hero-----------*/

.hero-item {
  background-color: var(--hero-background-color);
}

.hero-header {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--hero-header-color);
}

.hero-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 21.5;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
}

.hero-btn:is(:hover, :focus) {
  color: #ffffff;
  background-color: #404bbf;
}

/*--------------Features--------------*/

.features-item {
}

.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--paragraph-header-color);
}

.features-text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

/*--------------Work description--------------*/

.Work-description-item {
}

.Work-description-header {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--section-header-color);
}

/*-----------------Our team------------------------*/

.our-team-item {
  background-color: var(--our-team-background-color);
}

.our-team-header {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--section-header-color);
}

.our-team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--paragraph-header-color);
}

.our-team-text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

/*-----------Work Proposal Filter-------------*/

.work-prop-item {
}

.work-prop-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
}

.work-prop-btn:is(:hover, :focus) {
  color: #ffffff;
  background-color: #404bbf;
}

/*------------------Work Proposal List-----------*/

.work-prop-list-item {
}

.work-prop-list-titel {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--paragraph-header-color);
}

.work-prop-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*-----------------Footer-------------*/

.footer-item {
  background-color: var(--footer-background-color);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-logo-begin {
  color: #4d5ae5;
}
